<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    Hello, {{ user.username }}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for category in categories_list %}
                <tr>
                    <td>
                        {{ category.name }}
                    </td>
                    <td>
                        {{ category.receipts.all|length }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
